body{
margin: 0px;
background:linear-gradient(to  right, rgb(149, 149, 218) 30%,rgb(209, 133, 133)70% );
font-family: 'Kanit', sans-serif;
}
p{
    margin: 0px;
}
.grid-nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 5px;
    background:linear-gradient(to left, rgb(173, 173, 255),rgb(255, 149, 149) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.grid-item{

}

.categoryBtn {

}

#item1{
    text-align:center;
    display:flex;
    align-items:center;
    cursor: pointer;
}
.logopic{
    width: 160px;
    height: 58px;
}
#item2{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}
#item3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    padding: 15px;
    text-align: center;
    align-items: center;
}

.padnav{
    padding-right: 5%;
    cursor: pointer;
}
.padnav:hover {
    color: rgb(255, 255, 255);
}
.imgsearch{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 3px;
    background: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.search{
    padding-left: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-width: 0px;
    width: 500px;
    height: 30px;
}
*:focus{
    outline: none;
}
@media screen and (min-width: 1366px){
    .grid-content{
        margin-right: 15%;
        margin-left: 15%;
    }
    .grid-second{
        margin-top: 30px;
        margin-bottom: 30px;
        text-align:center;
        display:flex;
        align-items:center;
        justify-content:space-around;

    }

}

.grid-second{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
#item4{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    padding: 20px;
    justify-content: space-around;
}
.adcontent{
    margin-top: 30px;
    margin-left: 30px;
    flex-flow: column;
}
.imgad{
    margin-left: 40px;
    width: 800px;
    height: 350px;
    display: flex;
}

.logintab{
    border-radius: 15px;
    text-align: center;
    width: 300px;
    height: 350px;
    background:linear-gradient(to left bottom, rgb(173, 173, 255),rgb(179, 215, 255) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.loginpad{

    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;

}
.logoutpad{
  display: none;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;

}
.logoutbtn{
    font-family: 'Kanit', sans-serif;
    margin: 40px;
    padding: 10px;
    width:130px;
    font-size: 16px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(189, 240, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.logoutbtn:hover {
    background-color: rgb(255, 169, 169);
}
.spacelogout{
    margin: 15px;
    align-items: center;
}
.profilepic{
    margin-top: 25px;
    width: 120px;
    height: 120px;
}
.loginbar{

    padding-left: 10px;
    font-size: 14px;
    border-radius: 8px;
    border-width: 0px;
    width: 180px;
    height: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.loginbtn{
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    width:80px;
    font-size: 16px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(189, 240, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.loginbtn:hover {
    background-color: rgb(255, 169, 169);
}

.logintextpad {
    text-align: left;
    padding: 10px;
}

.grid-third{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 0px;
    min-width: 960px;
    margin-bottom: 30px;
    align-items: center;
}
#Camera{
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    text-align:center;
    align-items:center;
    border-top-left-radius: 10px;
    background-color: rgb(196, 196, 196);

}
#Camera:hover {
    background-color: rgb(211, 173, 255);
}
#CameraClick {
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    text-align:center;
    align-items:center;
    border-top-left-radius: 10px;
    background-color: rgb(211, 173, 255);
}
#Lens{
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    text-align:center;
    align-items:center;
    background-color: rgb(196, 196, 196);

}
#Lens:hover {
    background-color: rgb(255, 173, 173);
}
#LensClick {
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    text-align:center;
    align-items:center;
    background-color: rgb(255, 173, 173);
}
#Action{
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    text-align:center;
    align-items:center;
    background-color: rgb(196, 196, 196);

}
#Action:hover {
    background-color: rgb(173, 199, 255);
}
#ActionClick {
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    text-align:center;
    align-items:center;
    background-color: rgb(173, 199, 255);
}
#Drone{
    border-top-right-radius: 10px;
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    text-align:center;
    align-items:center;
    background-color: rgb(196, 196, 196);

}
#Drone:hover {
    background-color: rgb(173, 255, 217);
}
#DroneClick {
    border-top-right-radius: 10px;
    cursor: pointer;
    padding: 10px;
    min-width: 120px;
    text-align:center;
    align-items:center;
    background-color: rgb(173, 255, 217);
}

.iconHead{
    width: 64px;
    height: 64px;
}

#product{
    grid-column: 1/ span 4;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    grid-gap: 0px;
    margin-top: -30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    background-color: aliceblue;

}


/* Add some shadows to create a card effect */
.card {
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 10px;
    margin: 25px;
    display: none;
    background-color: rgb(255, 255, 255);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}
.price {
    color: rgb(0, 0, 0);
}

.buyBtn {
    font-family: 'Kanit', sans-serif;
    border-radius: 15px;
    border: none;
    outline: 0;
    display: inline-block;
    margin-top: 20px;
    padding: 8px;
    color: white;
    background-color: rgb(104, 207, 255);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.buyBtn:hover {
    background-color: #555;
}
.productPic{
    width: 150px;
    height: 150px;
}
p.header{
    font-size: 20px;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.grid-info{
    margin-top: 30px;
    justify-content: space-around;
    display: flex;
    min-width: 960px;
    margin-bottom: 30px;

}

.infopictab{
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background:linear-gradient(to left bottom, rgb(255, 130, 130),rgb(179, 215, 255) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

#bigPicContainer {
  height: 400px;
  display:flex;
  margin: 30px auto 10px auto;
}

#bigPicContainer > #piccaminfo {
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

#piccaminfo img{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(119, 119, 119);
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    left:0;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#piccamother{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    justify-content: center;

 }
#piccaminfo img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }
.infodata{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;

    display: flex;
    padding-right: 30px;
}
.numbar{
    margin-right: 20px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 8px;
    border-width: 0px;
    width: 20px;
    height: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.infodatatab{
    margin-left: 40px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 500px;
    background:linear-gradient(to left bottom, rgb(173, 173, 255),rgb(179, 215, 255) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.infodatapircetab{    
    margin-top: 30px;
    padding-right: 15px;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    background:linear-gradient(to left bottom, rgb(173, 173, 255),rgb(179, 215, 255) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
p.space{
    color: black;
    padding-right: 20px;
}
#buy{
    display: grid;
    grid-template-columns: auto  ;
    padding: 10px;

}
.buybtn{
    margin-top: 30px;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    width:120px;
    font-size: 14px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(189, 240, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.buybtn:hover {
    background-color: rgb(255, 169, 169);
}

/*Ad*/
.mySlides{
    /* width:60%; */
    width: 800px;
    height: 350px;
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.2);
}

.AD{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnADlayout{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.btnAD{
    margin: 15px 5px 5px;
    height: 12px;
    border-radius: 100px;
    border-width: 0px;
    outline: none;
}
.btnADCurrent{
    margin: 15px 5px 5px;
    height: 12px;
    border-radius: 100px;
    border-width: 0px;
    outline: none;
    background-color: rgb(172, 172, 172);
}

/*////////////////////////////////*/

.layerregis{
    justify-content: center;
    display: flex;
}
.headregis{
    margin-top: 20px;
    font-size: 25px;
}

.regisbar{
    padding-left: 10px;
    font-size: 14px;
    border-radius: 8px;
    border-width: 0px;
    width: 180px;
    height: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.addressbar{
    column-count: auto;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 8px;
    border-width: 0px;
    width: 180px;
    height: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.grid-contact{
    margin-top: 30px;
    justify-content: space-around;
    display: flex;
    min-width: 960px;
    margin-bottom: 30px;

 }
.contactdatatab{
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20%;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 700px;
    background:linear-gradient(to left bottom, rgb(173, 173, 255),rgb(179, 215, 255) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contactdata{
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 30px;
}
p.cspace{
    font-size: 20px;
}
.contactdataspace{
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.border{

    border-style: solid;
    border-width: medium;
    border-color: rgb(119, 119, 119);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;

}
.map{
    border-radius: 8px;
    height: 300px;
    width: 500px;

}
.bath {
    padding-left: 20px;
}

.productInfo_img {
    margin-top: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(119, 119, 119);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}



.shipdatatab{
    margin-left: 40px;
    margin-right: 20%;
    border-radius: 15px;    
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 580px;
    background:linear-gradient(to left bottom, rgb(173, 173, 255),rgb(179, 215, 255) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p.paddingtop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	margin: 0;
	padding: 16px;
	color: white;
	background-color: black;
}
p.paddingcenter {
   
	margin: 0;
	padding: 16px;
	color: white;
	background-color: black;
}
p.red {
	color :red;
}
p.middle {
	text-align: center;
}
p.spaceship{    
    padding-left: 6px; 
}
.padding {
	padding: 16px;
	
}

button.shop{
	margin: 2px;
	margin-left: 12%;
    margin-right: 12%;
    font-family: 'Kanit', sans-serif;    
    padding: 10px;   
    font-size: 16px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(189, 240, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
	width: 100px;
	height: 50px;
}

button.pay{
	margin: 2px;
	margin-left: 12%;
    margin-right: 12%;
    font-family: 'Kanit', sans-serif;    
    padding: 10px;   
    font-size: 16px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(108, 146, 216);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
	width: 100px;
	height: 50px;
}

button.shop:hover {
    background-color: rgb(255, 169, 169);
}
button.pay:hover {
    background-color: rgb(255, 166, 251);
}


.grid-item {
	padding: 5px;
}

.checkBox {
    margin: 15px;    
}


.checkPrice1 {
	display: grid;
	grid-template-columns: 40% 40% 20%;
	margin-top: 5px;
	margin-right: 15px;
    margin-left: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	padding : 20px;
    background-color: aliceblue;
	justify-content: space-around;
}
.checkPrice2 {
	margin-right: 15px;
	margin-left: 15px;
	padding : 10px;
    background-color: aliceblue;
	justify-content: space-around;
}
.checkPrice3 {
    display: grid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	grid-template-columns: 40% 40% 20%;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 15px;
	padding : 20px;
    background-color: aliceblue;
	justify-content: space-around;
}
h3{
    margin: 0px;
    padding: 0px;
}


.radiobutton:hover{
    cursor: pointer;
   
}



